body{
    font-family: Arial;
}
.addElement,
.input-div{
    display: grid;
    grid-template-columns: 200px 150px 100px;
    column-gap: 10px;
    row-gap: 10px;
    align-items: center;

}
.input-div{
    margin-bottom: 10px;
    align-items: stretch;
}
.input-date,
.js-name-input{
    font-size: 15px;
    padding: 6px;
}
.add-button{
    font-size: 15px;
    background-color: green;
    color: white;;
    border: none ;
    cursor: pointer;

}
.delete-button{
    background-color: darkred;
    font-size: 15px ;
    color: white ;
    border: none;
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
}
